.section-1 {
  background-color: #F5EAEA;
  padding:50px;
  display:grid;
  grid-template-columns: auto auto;
}

.section-1 div{
  display: inline-block;
}
.section-1 div {
  width: 200px;
}
.section-1 .div-1 img{
  width:500px;
  height: auto;
}
.section-1 .div-2 {
  width: 500px;
  margin-left:450px;
  margin-top:100px;
  font-size:30px;

}
.section-1 .div-2 h1{
  margin: 20px 2px;
}
.section-1 .div-2 button{
  margin:20px;
  height: 50px;
  width: 150px;
  background-color: #7c73e6; 
}
.section-2{
  text-align: center;
  padding: 50px;
}


.section-2 .div-3 {
    padding:0;
    display:inline-block;
}

.section-2 form{
    text-align: center;
    background-color: #d5def5;
    padding: 100px 0;
    width: 600px;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.section-2 form button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 150px;
  height: 40px;
  background-color: #7c73e6;
  border-radius: none;
  border-style: none;
  color: #fafafa;
  
}
.section-2 form input, .section-2 form textarea{
  width: 465px; 
  height: 20px;
  padding: 10px;
  margin: 15px 10px;
  border-style: none;
}
.section-2 form input{
  width: 210px;
  height: 20px;
  padding: 10px;
  margin: 15px 10px;
}
.section-2 form textarea{
  width: 465px;
  height: 150px;
  padding: 10px;
  margin: 15px 10px;
}
.section-2 form button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3 {
  background-color: #BFDCE5;
}
.section-3 .email-box {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 400px;
  text-align: center;
}
.section-3 form {
  display: flex;
  padding: 20px;
}
.section-3 input, button {
  width: 300px;
  padding: 10px;
  height: 20px;
  border-style: none;
}
.section-3 button {
  width: 50px;
  height: 40px;
  background-color: red;
  color: white;
}