/*CSS for contact*/
 .section-1{
  padding: 50px;
  grid-template-columns: auto auto;
  display:grid;
  background-color:#ba9393;
}

.section-1 {
  display: grid;
  grid-template-columns: auto auto;
}

.section-1 .div-1{
  margin:30px;
  width: 600px;
}


.section-2 form{
    text-align: center;
    background-color: #d5def5;
    padding: 100px 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.section-2 form button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 150px;
  height: 40px;
  background-color: #7c73e6;
  border-radius: none;
  border-style: none;
  color: #fafafa;
  
}
.section-2 form input, textarea{
  width: 465px; 
  height: 20px;
  padding: 10px;
  margin: 15px 10px;
  border-style: none;
}
.section-2 form input{
  width: 210px;
  height: 20px;
  padding: 10px;
  margin: 15px 10px;
}
.section-2 form textarea{
  width: 465px;
  height: 150px;
  padding: 10px;
  margin: 15px 10px;
}
.section-2 form button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 h2, p {
  text-align: center;
}