.sec-1 {
  padding: 50px;
  background-color: #e0ebeb;
  display: grid;
  grid-template-columns: auto auto;
}
.sec-1 .div-2 {
  padding-top: 100px;
}
.sec-1 .div-2 h1 {
  width: 600px;
}
.sec-1 .div-2 h6, h1, p, h3 {
  margin: 25px;
}


.section-2{
  padding: 50px 20px;
  background-color: #f0eeed;
}
  
.section-2 .div-1{
    display:grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.section-2 .div-1 .inner-div p{
  border-radius: 60px 0 60px 0;
  padding: 100px;
  width: 100px;
  height: 100px;
  background-color: #dbd8e3;
}