.sec-1 {
	padding: 200px;
	background-color: #e0ebeb;
	display: grid;
	grid-template-columns: auto auto: 
}

.sec-1 .div-2 {
	margin: 50px;
}

.sec-1 img {
	width: 400px;
	height: auto;
}

.section-2 .div-1{
	border-radius: 15px 50px;
	background: #73AD21;
	padding: 20px;
	width: 200px;
	height: 150px;
	display: grid;
	grid-template-columns: auto auto auto;
	margin:30px;
}


.section-3 {
	display:grid;
	grid-template-columns: auto auto auto;
	padding:10px;
	background-color:pink;
}