.sec-1 {
	padding: 200px;
	background-color: #e0ebeb;
	display: grid;
	grid-template-columns: auto auto: 
}

.sec-1 .div-2 {
	margin: 50px;
}

.sec-1 img {
	width: 400px;
	height: auto;
}
.section-3 {
	display:grid;
	grid-template-columns: auto auto auto;
	padding:10px;
	background-color:pink;
}