.sec-1 {
	padding: 180px;
	background-color: #e0ebeb;
	display: grid;
	grid-template-columns: auto auto;
}

}
.sec-1 .div-2 {
	margin: 100px;
	
}
.section img{
	width:100%;
	height:700px;
}
.sec-1 img {
	width: 400px;
	height: auto;
}

.section-3 {
	display:grid;
	grid-template-columns: auto auto auto;
	padding:20px;
	background-color:pink;
}
.section-3 .image{
	width:350px;
	height:720px;
}
@media only screen and (max-width: 1110px) {



.section img{
	width:100%;
	height:400px;
}
.sec-1 img {
	width: 400px;
	height:400px;
}
.sec-1 .div-2 {*
	margin:100px;
	
}
.section-3 {
	display:grid;
	grid-template-columns: auto auto auto;
	padding:50px;
	background-color:pink;
}

.section-3 .image{
	width:auto;
	height:600px;
}
	footer {
		display: block;
	}
	footer .div-3-inner {
		float: none;
	}
	footer .div-1, .div-2, .div-3 {
		text-align: center;
		padding: 50px;
	}
}
