.sec-3 .div-2{
	display: grid;
	grid-template-columns: auto auto auto;
}
.sec-3 .div-2 img {
	width: 350px;
	height: auto;
	margin: 50px;
}
.sec-3{
	padding: 50px;
}
.sec-2 {
	padding: 50px;
}
@media only screen and (max-width:900px) {
.sec-1 .ii img{
	width:390px;
	height:auto;
}
.sec-2 .div-1 img{
	width:300px;
	height:auto;
}
.sec-2 .div-2 p{
	grid-template-columns: auto;
	padding:0;
}
.sec-3 .div-2 img{
	grid-template-columns: auto;
	width:200px;
	height:auto;
	margin:20px;
	
}
}