 
 * {
  margin: 0;
 }

 header {
  padding: 20px;
  background-color: black;
  color: white;
 }

 .title-container, .nav-container {
  display: inline-block;
 }

.nav-container {
  float: right;

}
 ul {
  list-style-type: none;
 }

 a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 50px;
 }
 .title-container a{
  padding: 50px 20px;
 }

 nav ul li {
  display: inline-block;
 }

nav ul li a:hover{
     color: red;
}

footer {
  background-color: black;
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  color: white;
}
footer .div-3-inner {
  float: right;
  font-size: 20px;
}
footer .div-2 {
  margin-left: auto;
  margin-right: auto;
}


/*CSS for home page*/


footer .div-3-inner a {
  padding: 10px;
  margin: 10px 10px;
  border-radius: 10px;
}

footer .div-3-inner h2 {
  text-align: right;
}

footer .div-1 p {
  width: 200px;
}


/*
.kim >div{
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  padding:20px 0;
  font-size:30px;
  width:200px;
  height: 150px;
  border-radius: 15px 50px;
}

.kim .corner-1 .corner-2 .corner-3{
  background: url(paper.gif);
}

.section-2 .kim-1 .div-2{
  display: inline-block;
}


  .section-2 .div-2{
    margin:200px;
    width:200px;
        height:auto;
  }
  */
 
    
  
   /*display:inline-block;*/
  /*width:200px;
    height:150px;
    border-radius: 15px 50px;
    background: #e9f8f9;
    
 }
  

.section .div-3{
  float: right;
}

.bp-1  li{
         text-transform: capitalize;
     display: flex;
}*/



@media only screen and (max-width: 1110px) {
  nav {
    display: none;
  }
  footer {
    display: block;
  }
  footer .div-3-inner {
    float: none;
  }
  footer .div-1, .div-2, .div-3 {
    text-align: center;
    padding: 50px;
  }
}


/* CSS CODE FOR ICON DESIGN */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.div-3-inner p{
  float: right;
}







/*CSS for portifolio*/
.sec-1 .ii img{
  height:700px;
  width:100%;
}

.sec-2{
  background-color:#FD8A8A;
}

.sec-2 .div-1 img{
  width:300px;
  height:400px;
}

.sec-2 .div-2{
  
}

.sec-3{
  background-color:#FFC3A1;
}

.sec-3 .div-1{
  text-align: center;
}
.sec-3 .div-2 img{
  width:450px;
  height:500px;
}