.section-1 .div-1 {
	display:grid;
	grid-template-columns: auto auto;
	height: 200px;
	width: 200px;
	border-radius: 100px 0 0 100px;
	background: red;
	text-align: center;
	justify-content: center;
}
.section-1 .div-2 {
	display:grid;
	grid-template-columns: auto auto;
	height: 200px;
	width: 200px;
	border-radius: 0 100px 100px 0;
	background: red;
	margin-left: 200px;
	text-align: center;
	justify-content: center;
}

.sub-div{
	margin: auto;
}