*{
    margin:0;

}
header {
    display: flex;
    padding: 50px;
    background-color: black;
    color: white;
}

header .nav-container nav {
    float: left;
}

.nav-menu {
    display: inline-block;
}

header a {
    padding: 50px;
}
header a:hover {
    background-color: red;
}
}
.whole{
    background-color: rgb(3, 3, 46);
    background-image: url(./aaaa.jpg);
background-repeat: no-repeat;
background-size:100%;
}

.info{
    text-align: center;
    margin-bottom: 500px;
    
}
.info h1{
    padding-bottom: 10px;
    color:blueviolet;
    text-shadow:2px 2px  #b80a89;
}

footer{
    background-color: #7141a9;
}
.left-box {
    text-align: left;
    color: blue;
}


.content{
    list-style: none;
    margin-left: 500px;
}

.content-item{
    color:blue;
    padding:5px;
    
}
.content-item a:hover{
    color: rgb(183, 127, 234);
}


/* CSS CODE FOR ICON DESIGN */
.fa-facebook {
  background: #145af1;
  color: white;
}

.fa-twitter {
  background: #2bc2f4;
  color: white;
}
.fa-youtube {
  background: #de1414;
  color: white;
}

.fa-instagram {
  background: #b80a89;
  color: white;
}

.social{
    text-align: right;
}
 


.inqury{
    background-color:#145af1;
    text-align: center;
    padding:100px;
    text-align: right;
}

::placeholder{
    color:#de1414;
    opacity: 1;
}
